
.banner 
    position:relative
    background-color: bg-primary
    overflow: hidden
    transition: background-color ease 1s
    &-bg 
        position: absolute
        z-index: 1
        top:0
        left: 0
        right: 0
        bottom: 0
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+");
        //background-size: cover
        //background-position: center 80%
        opacity: 0.5
    &-inner 
        z-index: 3
    &-ball 
        z-index: 2
        position: absolute
        &-1 
            height: 80px
            width: 80px
            background: url("../img/ball_195.png") center center no-repeat
            background-size: cover
            top: 50%
            margin-top: -40px
            left: - 40px
            +mobile() {
                height: 130px
                width: 130px
                margin-top: -65px
                left: -65px
            }

        &-2 
            width: 100px
            height: 100px
            background: url("../img/ball_1408.png") center center no-repeat
            background-size: cover
            top: -50px
            right: 0
            opacity: .8
            -webkit-animation-duration: 2s
            animation-duration: 2s
    &-pic 
        // display: flex
        //align-items: center
        //justify-content: center
        //height: 250px
        text-align: center
        img 
            max-width: 100%
        +mobile() {
            //height: 200px
        }
    &-famousword
        position: absolute
        z-index: 5
        width: 100%
        padding: 0 20px
        font-size: 20px
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)
        left: 0
        text-align: center
        color: #ffede5
        -webkit-box-sizing: border-box
        box-sizing: border-box
        text-shadow: 1px 1px 5px rgba(0,0,0,0.5)
        opacity:1
        -webkit-animation-duration: 5s
        animation-duration: 5s
        .f_desc
            margin-bottom: 10px
            opacity:0.9
        .f_author
            color: #d6c1b8
            opacity:0.9
        +mobile() {
          font-size: 16px
        }